name: CI - Run API tests


on:
  push:
    branches:
      - daniela        
  
  workflow_dispatch:
    inputs:
      code:
        description: 'Introduce el código generado manualmente para Planka Auth'
        required: true
        default: 'TU_CODIGO_GENERADO_MANUALMENTE'
      mark: 
        description: 'Seleccionar la marca para ejecutar por tipo de prueba'
        required: true
        default: 'smoke'
        type: choice
        options:
          - card
          - list
          - board
          - project_management
          - smoke
          - functional_positive
          - functional_negative
          - regression
          - performance
          - e2e
          - schema_validation
          - payload_validation
          - headers_validation
          - equivalence_partition 

jobs:
  pruebas: 
    name: Ejecutar tipos de casos de prueba en la rama personal daniela
    runs-on: ubuntu-latest

    steps:
       # paso 1 :  Descargar Codigo de la rama personal daniela
      - name: Descarga codigo de la rama daniela
        uses: actions/checkout@v4
        with:
          ref: daniela

      # paso 2 : Configurar Python
      - name: Configurar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13.7'
 

      # paso 3 : Establecer variables de entorno desde secrets
      - name: Establecer variables de entorno desde secrets
        run: |
          echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
          echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
          echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV
    

      # paso 4 : Instalar Dependencias
      - name: Instalar Dependencias
        run: | 
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      
      # paso 5 : Ejecutar Tests 
      - name: Ejecutar tests con pytest y generar reporte Allure
        run: |
          pytest --disable-warnings -v ${{ github.event.inputs.marker }} --alluredir=reports/allure-results


      # paso 6: Generar reporte HTML usando la acción oficial de Allure
      - name: Generar Reporte Allure       
        if: always()
        run: |
          pip install allure-pytest
          allure generate reports/allure-results -o reports/allure-report --clean
        with:
          allure_results: reports/allure-results
          allure_history: allure-history
          allure_report: reports/allure-report
          gh_pages: gh-pages
          

    