name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.11

      - name: Levantar Planka con Docker y esperar
        run: |
         docker compose up -d
         echo "Esperando a que Planka arranque..."
         until curl --silent --fail http://localhost:3000 > /dev/null; do
            echo "esperando..."
            sleep 25
         done
         echo "Planka está en línea"


      - name: Obtener token admin
        id: login
        run: |
          RESPONSE=$(curl -s -X POST http://localhost:3000/api/sessions \
              -H "Content-Type: application/json" \
              -d '{"email": "${{ secrets.USER_EMAIL }}", "password": "${{ secrets.USER_PASSWORD }}"}')
          TOKEN=$(echo $RESPONSE | jq -r '.token')
          echo "TOKEN=$TOKEN" >> $GITHUB_ENV
          echo "Token admin obtenido correctamente"

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest jq

      - name: Ejecutar tests Pytest
        continue-on-error: true
        run: |
          pytest -v tests/ --alluredir=allure-results

      - name: Generar reporte Allure HTML
        run: |
          allure generate allure-results --clean -o allure-report

      - name: Publicar Allure en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report
