name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
       # Hacer checkout de la rama daniela
      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.11

      - name: Establecer variables de entorno desde secrets
        run: |
         echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
         echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
         echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV


      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest
    
      - name: Debug env vars
        run: |
          echo "USER_EMAIL: $USER_EMAIL"
          echo "USER_PASSWORD: $USER_PASSWORD"
          echo "BASE_URI: $BASE_URI"


      - name: Levantar Planka con Docker y esperar
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
          BASE_URI: ${{ secrets.BASE_URI }}
        run: |
         export USER_EMAIL=${USER_EMAIL}
         export USER_PASSWORD=${USER_PASSWORD}
         export BASE_URI=${BASE_URI}
         docker compose up -d
         echo "Esperando a que Planka arranque..."
         until curl --silent --fail http://localhost:3000 > /dev/null; do
            echo "esperando..."
            sleep 25
         done
         echo "Planka está en línea"


      - name: Esperar API de Planka (endpoint login)
        run: |
          echo "Esperando a que la API de Planka esté lista..."
          until curl --silent --fail -X POST http://localhost:3000/api/users/token \
            -H "Content-Type: application/json" \
            -d "{\"email\": \"test@example.com\", \"password\": \"test\"}" > /dev/null; do
              echo "API aún no lista..."
              sleep 10
          done
          echo "✔ API de Planka lista"



      - name: Obtener token de Planka
        run: |
          echo "Haciendo login en Planka..."

          RESPONSE=$(curl -s -X POST http://localhost:3000/api/users/token \
            -H "Content-Type: application/json" \
            -d "{\"email\": \"$USER_EMAIL\", \"password\": \"$USER_PASSWORD\"}" )

          echo "Respuesta:"
          echo "$RESPONSE"

          TOKEN=$(echo $RESPONSE | jq -r '.token')

          if [ "$TOKEN" = "null" ] || [ -z "$TOKEN" ]; then
            echo "❌ ERROR: No se pudo obtener token de Planka."
            exit 1
          fi

          echo "✔ Token obtenido correctamente"
          echo "PLANKA_TOKEN=$TOKEN" >> $GITHUB_ENV


      - name: Inspect user_account table
        run: |
          DB_CONTAINER=$(docker ps --format "{{.Names}}" | grep "postgres")
          echo "DB container: $DB_CONTAINER"
          docker exec $DB_CONTAINER \
            psql -U "postgres" -d "planka" \
            -c "SELECT * FROM user_account;"

      - name: Debug env vars 2
        run: |
          echo "USER_EMAIL: $USER_EMAIL"
          echo "USER_PASSWORD: $USER_PASSWORD"
          echo "BASE_URI: $BASE_URI"
    
      - name: Ejecutar tests Pytest
        continue-on-error: true
        run: |
          pytest -v tests/ --alluredir=allure-results


      - name: Generar reporte Allure HTML
        run: |
            allure generate allure-results --clean -o allure-report


      - name: Publicar Allure en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report


      - name: Cleanup Docker
        run: docker compose down -v
