name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
       # Hacer checkout de la rama daniela
      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.11

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest

      - name: Establecer variables de entorno desde secrets
        run: |
          echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
          echo "USER_EMAIL=${{ secrets.USER_EMAIL  }}" >> $GITHUB_ENV
          echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV

      - name: Debugear variables...
        run: |
          echo "BASE_URI=$BASE_URI"
          echo "USER_EMAIL=$USER_EMAIL"

            
 
      - name: Levantar Planka y esperar
        run: |
         docker compose up -d
         echo "Esperando a que Planka arranque..."
         until curl --silent --fail http://localhost:3000 > /dev/null; do
            echo "esperando..."
            sleep 5
         done
         echo "Planka está en línea"

  
      - name: Ejecutar tests Pytest
        continue-on-error: true
        run: |
          pytest -v tests/ --alluredir=allure-results


      - name: Generar reporte Allure HTML
        run: |
            allure generate allure-results --clean -o allure-report


      - name: Publicar Allure en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report


      - name: Cleanup Docker
        run: docker compose down -v
