name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
      - main
      - daniela
  workflow_dispatch:
    inputs:
      marker:
        description: "Insertar Mark o Suite"
        required: false
        default: ""

jobs:
  test:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout código
        uses: actions/checkout@v4

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Configurar Node.js (requerido por Allure)
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Exportar variables desde secrets
        run: |
          echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
          echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
          echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV

      - name: Instalar dependencias
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt

      - name: Instalar Allure CLI
        run: |
          sudo apt-add-repository ppa:qameta/allure -y
          sudo apt-get update
          sudo apt-get install allure -y

      - name: Levantar Planka con Docker
        run: |
          docker compose up -d
          echo "Esperando que Planka arranque..."
          until curl --silent --fail http://localhost:3000 > /dev/null; do
              echo "esperando..."
              sleep 25
          done
          echo "Planka está en línea"

      - name: Ejecutar tests con pytest + Allure
        run: |
          if [ -n "${{ github.event.inputs.marker }}" ]; then
            echo "Ejecutando pytest con marker: ${{ github.event.inputs.marker }}"
            pytest -v --disable-warnings ${{ github.event.inputs.marker }} --alluredir=reports/allure-results
          else
            echo "Ejecutando todos los tests"
            pytest -v --disable-warnings --alluredir=reports/allure-results
          fi

      - name: Checkout branch report-allure
        uses: actions/checkout@v4
        if: always()
        with:
          ref: report-allure
          path: report-allure

      - name: Generar reporte Allure
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          gh_pages: report-allure
          allure_results: reports/allure-results
          allure_history: allure-history

      - name: Publicar Allure Report en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report

      - name: Cleanup Docker
        run: docker compose down -v
