name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:
     inputs:
      marker:
        description: 'Marker de pytest a ejecutar (ej:smoke,functional_positive,functional_negative,regression,performance)'
        required: false
        default: ''

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
       # Hacer checkout de la rama daniela
      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.11

      - name: Establecer variables de entorno desde secrets
        run: |
         echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
         echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
         echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV


      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

        
      - name: Instalar Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre
          npm install -g allure-commandline --save-dev
         
    
      - name: Levantar Planka con Docker y esperar
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
          BASE_URI: ${{ secrets.BASE_URI }}
        run: |
         export USER_EMAIL=${USER_EMAIL}
         export USER_PASSWORD=${USER_PASSWORD}
         export BASE_URI=${BASE_URI}
         docker compose up -d
         echo "Esperando a que Planka arranque..."
         until curl --silent --fail http://localhost:3000 > /dev/null; do
            echo "esperando..."
            sleep 25
         done
         echo "Planka está en línea"
  

      # - name: Ejecutar tests Pytest
      #   continue-on-error: true
      #   run: |
      #     pytest -v tests/ --alluredir=allure-results


      - name: Ejecutar tests con pytest y generar reporte Allure
        run: |
          if [ -n "${{ github.event.inputs.marker }}" ]; then
            echo "Ejecutando pytest con marker: ${{ github.event.inputs.marker }}"
            pytest --disable-warnings -v ${{ github.event.inputs.marker }} --alluredir=reports/allure-results
          else
            echo "Ejecutando todos los tests"
            pytest --disable-warnings -v --alluredir=reports/allure-results
          fi

      - name: Load test report history
        uses: actions/checkout@v4
        if: always()
        continue-on-error: true
        with:
          ref: report-allure
          path: report-allure

      - name: Build test report
        uses: simple-elf/allure-report-action@master
        if: always()
        with:
          gh_pages: report-allure
          allure_results: reports/allure-results
          allure_history: allure-history

      - name: Publish test report
        uses: peaceiris/actions-gh-pages@v3
        if: always()
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./reports/allure-report
          publish_branch: report-allure
   
  
      # - name: Publicar Allure en GitHub Pages
      #   uses: peaceiris/actions-gh-pages@v3
      #   with:
      #     github_token: ${{ secrets.GITHUB_TOKEN }}
      #     publish_dir: ./allure-report


      # - name: Cleanup Docker
      #   run: docker compose down -v
