name: CI Pruebas REST PLANKA

on:
  push:
    branches: [daniela]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    
      - name: Checkout repository
        uses: actions/checkout@v4

   
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11


      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest python-dotenv

 
      - name: Establecer variables de entorno
        run: |
          echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
          echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
          echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV

     
      - name: Start Planka services
        run: docker-compose up -d

     
      - name: Wait for Planka to be ready
        run: |
          echo "Esperando que Planka esté listo..."
          until $(curl --output /dev/null --silent --head --fail http://localhost:3000); do
            printf '.'
            sleep 5
          done
          echo "Planka está en línea."

    
      - name: Run API Tests -v
        continue-on-error: true
        env:
          BASE_URI: ${{ env.BASE_URI }}
          USER_EMAIL: ${{ env.USER_EMAIL }}
          USER_PASSWORD: ${{ env.USER_PASSWORD }}
        run: |
          pytest -v --alluredir=allure-results

   
      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

     
      - name: Generate Allure Report
        run: |
          npm install -g allure-commandline --save-dev
          allure generate allure-results --clean -o allure-report

     
      - name: Deploy Allure Report to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report


      - name: Cleanup Docker
        run: docker-compose down -v
