name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
       # Hacer checkout de la rama daniela
      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  


      - name: Instalar Docker Compose
        run: |
            sudo apt-get update
            sudo apt-get install -y docker-compose
            
      - name: Instalar curl
        run: sudo apt-get install -y curl


      - name: Levantar Planka desde TU docker-compose.yml
        run: |
          docker compose up -d
          echo "Esperando a que Planka arranque..."
          sleep 25

      - name: Ver que los contenedores estén corriendo
        run: docker ps

      - name: Esperar a que Planka esté listo
        run: |
           echo "Waiting for Planka..."
           until curl --silent --fail http://localhost:3000 > /dev/null; do
               echo "esperando..."
               sleep 5
           done
           echo "Planka esta en linea .. "

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
    
   
      - name: Ejecutar tests E2
        run: pytest -v --alluredir=allure-results
        env:
          BASE_URI: ${{ secrets.BASE_URI }}
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}


      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'


      - name: Generar reporte Allure
        run: |
          npm install -g allure-commandline --save-dev
          allure generate allure-results --clean -o allure-report


      - name: Publicar Allure en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report


      - name: Cleanup Docker
        run: docker compose down -v
