name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
      - main 
      - daniela
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.11

      - name: Establecer variables de entorno desde secrets
        run: |
          echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
          echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
          echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV

      - name: Instalar jq y dependencias Python
        run: |
          sudo apt-get update && sudo apt-get install -y jq
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest

      - name: Levantar Planka con Docker y esperar
        run: |
          docker compose up -d
          echo "Esperando a que Planka arranque..."
          until curl --silent --fail http://localhost:3000 > /dev/null; do
            echo "esperando..."
            sleep 20
          done
          echo "Planka está en línea"

      - name: Generar token de admin
        run: |
          sudo apt-get install -y jq
          echo "Esperando a que el admin esté listo..."
          until TOKEN=$(curl -s -X POST http://localhost:3000/api/auth/login \
            -H "Content-Type: application/json" \
            -d '{
                  "email": "'"$USER_EMAIL"'",
                  "password": "'"$USER_PASSWORD"'"
                }' | jq -r '.token') && [ "$TOKEN" != "null" ]; do
            echo "Admin aún no listo, esperando 5s..."
            sleep 5
          done
          echo "TOKEN=$TOKEN" >> $GITHUB_ENV
          echo "Token generado: $TOKEN"


      - name: Ejecutar tests Pytest
        continue-on-error: true
        run: |
          pytest -v tests/ --alluredir=allure-results

      - name: Generar reporte Allure HTML
        run: |
          allure generate allure-results --clean -o allure-report

      - name: Publicar Allure en GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./allure-report

      - name: Cleanup Docker
        run: docker compose down
