name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:
    inputs:
      tipo_prueba:
        description: "Selecciona el tipo de prueba:"
        required: false
        default: "all"
        type: choice
        options:
          - all
          - smoke
          - regression
          - functional_positive
          - functional_negative
          - performance
          - equivalence_partition

      modulo_evaluado:
        description: "Selecciona el módulo a evaluar:"
        required: false
        default: "all"
        type: choice
        options:
          - all
          - project_management
          - board
          - list
          - card

  schedule:
    # Scheduled the execution.
    # Every day at 22:00 PM (Bolivia GTM-4).
    # All the cron job in GitHub Actions is in UTC(1:00 AM).
    - cron: '0 1 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest

    permissions:
      contents: write # To push a branch (gh_pages).

    steps:
       # Hacer checkout de la rama daniela
      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.11

      - name: Establecer variables de entorno desde secrets
        run: |
         echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
         echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
         echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
      - name: Instalar Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre
          npm install -g allure-commandline --save-dev
    
      - name: Levantar Planka con Docker
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
          BASE_URI: ${{ secrets.BASE_URI }}
        run: |
         export USER_EMAIL=${USER_EMAIL}
         export USER_PASSWORD=${USER_PASSWORD}
         export BASE_URI=${BASE_URI}
         docker compose up -d
         echo "Esperando a que Planka arranque..."
         until curl --silent --fail http://localhost:3000 > /dev/null; do
            echo "esperando..."
            sleep 25
         done
         echo "Planka está en línea"

      - name: Ejecutar tests con pytest y generar reporte Allure
        run: |
          echo "=== Parámetros recibidos (workflow_dispatch) ==="
          echo "Módulo : ${{ github.event.inputs.modulo_evaluado }}"
          echo "Tipo   : ${{ github.event.inputs.tipo_prueba }}"
          echo "============================================="

          # Si viene del cron
          if [[ "${{ github.event_name }}" == "schedule" ]]; then
            pytest --disable-warnings -v --alluredir=reports/allure-results
            exit 0
          fi

          # Tomar valores del dispatch
          MODULO="${{ github.event.inputs.modulo_evaluado }}"
          TIPO="${{ github.event.inputs.tipo_prueba }}"

          # Construir comando pytest
          PYTEST_CMD="pytest --disable-warnings -v --alluredir=reports/allure-results"

          # Filtrar por módulo
          if [[ "$MODULO" != "all" ]]; then
            PYTEST_CMD="$PYTEST_CMD tests/api-planka/$MODULO"
          fi

          # Filtrar por tipo
          if [[ "$TIPO" != "all" ]]; then
            PYTEST_CMD="$PYTEST_CMD -m \"$TIPO\""
          fi

          echo "=== Comando final de ejecución ==="
          echo "$PYTEST_CMD"
          echo "=================================="

          eval $PYTEST_CMD

      - name: Subir resultados Allure como artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: reports/allure-results
          retention-days: 3

  publish-report:
    runs-on: ubuntu-latest
    needs: tests

    permissions:
      contents: write

    steps:
      - name: Checkout gh-pages (history)
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages

      - name: Descargar artifact de Allure
        uses: actions/download-artifact@v4
        with:
          name: allure-results
          path: reports/allure-results

      - name: Generar reporte Allure
        uses: simple-elf/allure-report-action@master
        with:
          allure_results: reports/allure-results
          gh_pages: gh-pages
          allure_report: allure-report
          allure_history: allure-history

      - name: Publicar Reporte en GitHub Pages
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: allure-history
