name: CI Pruebas REST PLANKA

on:
  push:
    branches: 
    - main 
    - daniela
  workflow_dispatch:
     inputs:
      marker:
        description: 'Marker de pytest a ejecutar (ej:smoke,functional_positive,functional_negative,regression,performance)'
        required: false
        default: ''

  schedule:
    # Scheduled the execution.
    # Every day at 22:00 PM (Bolivia GTM-4).
    # All the cron job in GitHub Actions is in UTC(1:00 AM).
    - cron: '0 1 * * *'

jobs:
  tests:
    runs-on: ubuntu-latest

    permissions:
      contents: write # To push a branch (gh_pages).

    steps:
       # Hacer checkout de la rama daniela
      - name: Checkout code from daniela
        uses: actions/checkout@v4
        with:
          ref: daniela  

      - name: Configurar Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Configurar Python
        uses: actions/setup-python@v5
        with:
            python-version: 3.11

      - name: Establecer variables de entorno desde secrets
        run: |
         echo "BASE_URI=${{ secrets.BASE_URI }}" >> $GITHUB_ENV
         echo "USER_EMAIL=${{ secrets.USER_EMAIL }}" >> $GITHUB_ENV
         echo "USER_PASSWORD=${{ secrets.USER_PASSWORD }}" >> $GITHUB_ENV

      - name: Instalar dependencias
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
        
      - name: Instalar Allure CLI
        run: |
          sudo apt-get update
          sudo apt-get install -y default-jre
          npm install -g allure-commandline --save-dev
    
      - name: Levantar Planka con Docker
        env:
          USER_EMAIL: ${{ secrets.USER_EMAIL }}
          USER_PASSWORD: ${{ secrets.USER_PASSWORD }}
          BASE_URI: ${{ secrets.BASE_URI }}
        run: |
         export USER_EMAIL=${USER_EMAIL}
         export USER_PASSWORD=${USER_PASSWORD}
         export BASE_URI=${BASE_URI}
         docker compose up -d
         echo "Esperando a que Planka arranque..."
         until curl --silent --fail http://localhost:3000 > /dev/null; do
            echo "esperando..."
            sleep 25
         done
         echo "Planka está en línea"

      - name: Ejecutar tests con pytest y generar reporte Allure
        run: |
          if [ -n "${{ github.event.inputs.marker }}" ]; then
            echo "Ejecutando pytest con marker: ${{ github.event.inputs.marker }}"
            pytest --disable-warnings -v ${{ github.event.inputs.marker }} --alluredir=reports/allure-results
          else
            echo "Ejecutando todos los tests"
            pytest --disable-warnings -v --alluredir=reports/allure-results
          fi

      - name: Subir resultados Allure como artifact
        uses: actions/upload-artifact@v4
        with:
          name: allure-results
          path: reports/allure-results
          retention-days: 3

publish-report:
  runs-on: ubuntu-latest
  needs: tests

  permissions:
    contents: write

  steps:
    - name: Descargar artifact de Allure
      uses: actions/download-artifact@v4
      with:
        name: allure-results
        path: reports/allure-results

    - name: Generar reporte Allure
      uses: simple-elf/allure-report-action@v1.7
      with:
        allure_results: reports/allure-results
        allure_report: allure-report
        allure_history: allure-history

    - name: Ver carpetas (DEBUG)
      run: |
        pwd
        ls -la
        echo "allure-history:"
        ls -la allure-history || echo "NO EXISTE"

    - name: Publicar Reporte en GitHub Pages
      uses: peaceiris/actions-gh-pages@v4
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        publish_branch: gh-pages
        publish_dir: allure-history
